.orgBooking {
  text-align: center;
  margin: 2% auto;
  p {
    padding: 2%;
    margin-bottom: 1%;
    border-radius: 4px;
    background: #F8F8F8;
    width: 50%;
    margin: auto;
    span {
      font-weight: bold;
    }
  }
    :hover {
      background-color: #d9ffb3;
      width: 50%;
    }
}

.bookingLink {
    text-decoration: none;
    color: black;
}
