* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cabin', sans-serif;
}

h1 {
  text-align: center;
  margin: 5% auto;
  font-family: 'Noto Serif TC', serif;
}

.searchError {
  color: red;
  text-align: center;
}

.headText {
  font-size: 6vh;
}

.detailWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    form {
        margin:  0em 2em;
        width: 50%;
    }
    div {
        margin-left: 7%;
        padding: 3%;
        margin-bottom: 5%;
        border-radius: 4px;
        background: #F8F8F8;
        h3 {
            margin-bottom: 3%;
        }
        p {
            padding: 3%;
            span {
                font-weight: bold;
                margin-right: 5px;
            }
        }
    }
}

.paging {
    margin-top: 5%;
    text-align: center;
    & > span {
        padding: 10%;
    }
    & > button {
        position: relative;
        padding: 10px;
        color: black;
        margin: 0 auto;
        background: #d9ffb3;
        font-size: 12px;
        text-align: center;
        font-style: normal;
        width: 17%;
        margin-bottom: 10px;
        transition: border .4s ease-out;
        border: 5px solid transparent;
        &:hover {
            border: 5px solid #006600;
        }
    }
}

.form {
  grid-row-start: 2;
  max-width: 500px;
	background: #F8F8F8;
	margin: 4em auto 5em auto;
	padding: 20px;
	border-radius: 8px;
    label {
      display: block;
	    margin-bottom: 5px;
    }
    input {
        border-radius: 4px;
        width: 100%;
        height: 35px;
        border: 1px solid #ccc;
        margin-bottom: 15px;
        padding-left: 2%;
    }
    h3 {
        margin-bottom: 3%;
    }
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
    textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
        border-color: #99BE7F;
        box-shadow: 0 1px 1px #d9ffb3 inset, 0 0 8px #d9ffb3;
        outline: 0 none;
    }
    .checkbox {
        width: 5%;
        margin-left: 14%;
    }
    & > button {
        position: relative;
        display: block;
        padding: 19px 39px 18px 39px;
        color: black;
        margin: 0 auto;
        background: #d9ffb3;
        font-size: 18px;
        text-align: center;
        font-style: normal;
        width: 100%;
        border: 1px solid #d9ffb3;
        border-width: 1px 1px 3px;
        margin-bottom: 10px;
        transition: border .4s ease-out;
        border: 5px solid transparent;
        &:hover {
            border: 5px solid #006600;
        }
        &:disabled {
            border: 5px solid #d9ffb3;

        }
    }
}

.loading {
  animation:extend 2s steps(3, end) infinite;
  display:inline-block;
  overflow:hidden;
  vertical-align:bottom;
  &:before {
    content:"...";
  }
}

@keyframes extend {
  0% {
    width:.25em;
  }
  100% {
    width:1em;
  }
}

.loadingButton {
    text-align: left !important;
    padding-left: 41% !important;
}

@media screen and (max-width: 450px) {
    .form .checkbox {
        width: 5%;
        margin-left: 2vw;
    }
}

@media screen and (max-width: 1000px) {

}