/* .nav {
  display: flex;
  margin-bottom: 6%;
  justify-content: center;
  background-color: #d9ffb3;
  a {
    padding: 1em;
    text-decoration: none;
    color: black;
    &:hover {
      color: #006600;
    }
  }
} */
