* {

}

.crewWrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  h3 {
    text-align: center;
    margin: .5em auto;
  }

  .bioPic {
    margin-left: 23%;
    margin-right: 20%;
    width: 10em;
      border-radius: 4px;
  }
}

.header {
  margin-top: 0;
}

.aboutHeading {
  width: 70%;
  margin: 0 auto;
}

.crewItem {
  margin: 5% 2%;
  width: 30%;
  height: fit-content;
  padding: 1.5em;
  background: #F8F8F8;
  border-radius: 8px;
  &:hover {
    background-color: #d9ffb3;
  }
}

.linksWrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 1em auto 0 auto;
}

.socialLogo {
  width: 2em;
}
